<div class="dailod--wrapper">
  <div *ngIf="dailogData.type === 'success'" class="dailog__success">
    <img width="120px" src="../../../../assets/images/success.webp" alt="" />
    <h1>Congratulations!</h1>
    <p>You have successfully created account with us</p>
    <button (click)="handleClick('login')" mat-raised-button color="primary">
      Login
    </button>
  </div>
  <div *ngIf="dailogData.type === 'error'" class="dailog__error">
    <img width="120px" src="../../../../assets/images/error.png" alt="" />
    <h1>Opps! Something went wrong</h1>
    <p>
      It seams that you have enterd the worng email id or the link is broken
    </p>
    <button (click)="handleClick('tryagain')" mat-raised-button color="primary">
      Try Again
    </button>
  </div>
</div>
