<!-- teacher dashbord or profile  -->
<!-- spinner starts -->

<!-- spinnerends-->
<div class="teacher--wrapper">
  <div class="teacher__header">
    <div class="teacher__header__bg"></div>
    <!-- <img
      src="https://img.freepik.com/free-photo/beautiful-shot-small-lake-with-wooden-rowboat-focus-amazing-clouds-sky_181624-2044.jpg?w=740&t=st=1667221020~exp=1667221620~hmac=f26dee4d86a01f2957e8b29bc3a46c2ff94680d077c6073bbee05982c89c8d6d"
      alt=""
    /> -->
    <div class="header__profile-pic mat-elevation-z4">
      <div class="img"></div>
    </div>
    <div class="header__profile-details">
      <h1>{{ teacherDetails.name }}</h1>
      <h3>{{ teacherDetails.qualification }}</h3>
      <div class="addtional-details">
        <p>
          <mat-icon>location_on</mat-icon>
          {{ teacherDetails.address }}
        </p>
        <p>
          <mat-icon>email</mat-icon>
          {{ teacherDetails.email }}
        </p>
        <p>
          <mat-icon>phone</mat-icon>
          {{ teacherDetails.contact }}
        </p>
      </div>
    </div>
  </div>

  <div class="teacher__body">
    <mat-tab-group>
      <mat-tab label="Cources">
        <ng-template matTabContent>
          <app-cources></app-cources>
        </ng-template>
      </mat-tab>
      <mat-tab label="Gallery">
        <ng-template matTabContent>
          <app-gallery></app-gallery>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
