.list-teachers--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 10px;
  flex-direction: column;
}
.search {
  width: 50vw;
}
.teacher-card {
  width: 40vw;
  margin-top: 10px;
  display: flex;
  align-items: center;

  gap: 10px;
  height: fit-content;
}
.teacher-card .name {
  flex-grow: 2;
  font-size: 1.5rem;
}
