<div class="wrapper">
  <app-upload-progress *ngIf="isLoading"></app-upload-progress>
  <form action="" [formGroup]="courseForm" (ngSubmit)="handleSubmit()">
    <h1>Add Course</h1>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Course Name</mat-label>
      <input formControlName="courseName" matInput placeholder="Placeholder" />
    </mat-form-field>
    <div class="upload">
      <mat-label color="primary">Click or Drag and drop the files</mat-label>
      <input
        type="file"
        placeholder="click or drag and drop to upload"
        name=""
        #file
        class="form-control"
        id=""
      />
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Course Description</mat-label>
        <input
          formControlName="courseContaines"
          matInput
          placeholder="Placeholder"
        />
      </mat-form-field>
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Course Reference</mat-label>
        <input formControlName="reference" matInput placeholder="Placeholder" />
      </mat-form-field>
    </div>
    <div class="dilog-action d-flex justify-content-end">
      <button type="button" mat-dialog-close mat-raised-button color="accent">
        cancle
      </button>
      <button type="submit" class="ml-2" color="primary" mat-raised-button>
        Add
      </button>
    </div>
  </form>
</div>
