/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.success {
  background-color: #53a653;
  color: white;
}

.error {
  background-color: #c62828;
  color: white;
}
.success button,
.error button {
  color: white !important;
}
button:focus {
  /* border: none !important; */
  outline: none !important;
}
