<div class="row">
  <div class="col">
      <img src="assets\images\studying-girl-1-2.png" class="card-img " style="padding-left:200px; height: 820px; width: 1200px;" alt="...">
      <div class="card-img-overlay mt-5 mx-4 ">
        <div class="card" style="width: 28rem; height: 190px;">
          <div class="card-body">
            <h2 class="card-title fs-1" style="color: black; ">Sale ends today</h2>
            <p class="card-text fs-3" style="color: black; font-family:Georgia, 'Times New Roman', Times, serif">Last
              day to shop our
              Love to Learn Sale to
              get courses starting at just ₺27.99.</p>
            <div class="row " style="width:300 ; border-color: black;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <h1 class="display-3">Learn without limits</h1>
    <p class="lead">
        Are you looking for some course to boost your skills? 
        EDUZONE can help you out!
    </p>
    <hr class="my-4">
   
    <h1 class="display-5"> Learning is the source of human progress.</h1>

    <p class="lead">
      No matter who we are or where we are,
      learning empowers us to change and grow
        and redefine what’s possible.
    That’s why access to the best learning is a right, not a privilege.
    </p>

    <p class="lead">
      <a class="btn btn-dark btn-lg" [routerLink]="['register']" role="button">Interested?</a>
    </p>


<!-- <div class="container mt-4 mb-5">
  <div class="row text-center">
    <div class="col-md-4 col-sm-6" *ngFor="let course of courseList">
      <div style="height: 70px;"><h3 class="mt-2 course">{{course.courseName}}</h3></div>
      <img width="250" height="250" class="row-photo" src="{{course.courseImageUrl}}">
      <a class="btn btn-dark" [routerLink]="['/courses', course.id]" role="button">View course</a>
    </div>
  </div>
</div> -->
<br>
<br>
<div class="row mt-5">

  <h2 class="card-title" style="color: black;">Top categories</h2>

</div><br>

<div class="row mt-3">

  <div class="col">
    <img src="https://s.udemycdn.com/home/top-categories/lohp-category-design-v2.jpg" class="img-thumbnail"
      alt="...">
    <h5 class="card-title" style="color: black;">Design</h5>

  </div>
  <div class="col">
    <img src="https://s.udemycdn.com/home/top-categories/lohp-category-development-v2.jpg"
      class="img-thumbnail" alt="...">
    <h5 class="card-title" style="color: black;">Development</h5>

  </div>
  <div class="col">
    <img src="https://s.udemycdn.com/home/top-categories/lohp-category-marketing-v2.jpg" class="img-thumbnail"
      alt="...">
    <h5 class="card-title" style="color: black;">Marketing</h5>

  </div>
  <div class="col">
    <img src="https://s.udemycdn.com/home/top-categories/lohp-category-it-and-software-v2.jpg"
      class="img-thumbnail" alt="...">
    <h5 class="card-title" style="color: black;">IT and Software</h5>

  </div>

</div>
<br>
<br>
<div class="col-md-6">
  <div class="card mb-3" style="width: 1000; border-style: none; margin-top: 100; margin-left: 300;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://s.udemycdn.com/home/non-student-cta/instructor-1x-v3.jpg"
          class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8 ">
        <div class="card-body" style="margin-top: 100;">
          <h5 class="card-title fs-2 ">Become an instructor</h5>
          <p class="card-text">Instructors from around the world teach millions of students on
            Udemy. We provide the tools and skills to teach what you love.</p>
          <div class="d-grid gap-2 d-md-block">
            <button class="btn btn-dark" type="button" style="background-color:black; color: white;">Start
              teaching today
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="card mb-3" style="width: 1000; border-style: none; margin-top: 100; margin-left: 300;">
    <div class="row g-0">

      <div class="col-md-8 ">
        <div class="card-body" style="margin-top: 100;">
          <h5 class="card-title fs-2 ">Become an instructor</h5>
          <p class="card-text">Instructors from around the world teach millions of students on
            Udemy. We provide the tools and skills to teach what you love.</p>
          <div class="d-grid gap-2 d-md-block">
            <button class="btn btn-dark" type="button" style="background-color:black; color: white;">Get Udemy
              Business
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <img src="https://s.udemycdn.com/home/non-student-cta/ub-1x-v3.jpg" class="img-fluid rounded-start"
          alt="...">
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin-bottom: 30;">
  <div class="col-md-6">
    <div class="card mb-3" style="width: 1000; border-style: none; margin-top: 100; margin-left: 300;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="https://s.udemycdn.com/home/non-student-cta/transform-1x-v3.jpg"
            class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8 ">
          <div class="card-body" style="margin-top: 100;">
            <h5 class="card-title fs-2 ">Transform your life through education</h5>
            <p class="card-text">Learners around the world are launching new careers, advancing in
              their fields, and enriching their lives.</p>
            <div class="d-grid gap-2 d-md-block">
              <button class="btn btn-dark" type="button" style="background-color:black; color: white;">Find out
                how
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

